<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261501057690-qb1gcm5vo7khsikle5oeov9bro89rrh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261501057690-qb1gcm5vo7khsikle5oeov9bro89rrh0</string>
	<key>API_KEY</key>
	<string>AIzaSyCH92CIGiJrAX1HoTHDTz41-AWT3zfxqxA</string>
	<key>GCM_SENDER_ID</key>
	<string>261501057690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jplay.signindemo</string>
	<key>PROJECT_ID</key>
	<string>premium-arc-286102</string>
	<key>STORAGE_BUCKET</key>
	<string>premium-arc-286102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261501057690:ios:971143e0783b6156c1bd23</string>
</dict>
</plist>